@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* --------------------------------------------------------------------- */
/* ********************** Body management ****************************** */
/* --------------------------------------------------------------------- */

body {
	box-sizing: border-box;
	font-family: 'Raleway';
	background-color: grey;
}

h1 {
	color: red;
}

/* --------------------------------------------------------------------- */
/* ******************************** EOF ******************************** */
/* --------------------------------------------------------------------- */
