// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin doted-text-on-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
