// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-footer: rgb(53, 53, 53);
$colour-location: rgb(234, 234, 234);
$colour-exploration: rgb(246, 246, 246);
