.menupart {

  &-title {
    margin-left: 40px;

    &-underline {

      width: 80px;
      border: 3px solid $colour-tertiary;
      margin-top: -10px;
      margin-left: 40px;
    }
  }

  &-items {
  	padding-left: 5%;
  	padding-right: 5%;
  }

  &-item {
    animation: appear .5s;
    animation-fill-mode: both;
    transform: scale(0);
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    @include doted-text-on-overflow;
    transition: padding-right 450ms ease-in-out;

    & h4 {
      margin: 0;
    }

    &:hover {
      padding-right: 17%;

      & .selection {
        opacity: 1;
        transform: translate(-50px);
      }

      & .fa-check-circle {
        transform: rotate(360deg);
      }
    }

    &-description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 1.5em;

      & p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      & span {
        margin-right: 5px;
      }
    }
  }
}

@for $i from 1 to 10 {
  .mp-item-#{$i} {
    animation-delay: #{calc($i/8)}s;
  }
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colour-tertiary;
  width: 8%;
  border-radius: 0 20px 20px 0;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;

  & .fa-check-circle {
    color: white;
    transition: transform 500ms ease-in-out;
  }
}
