// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
  font-family: 'Roboto';
  max-width: 1300px;
  margin: auto;
}
