@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	box-sizing: border-box;
	font-family: 'Raleway';
	background: $colour-tertiary;
}

h1 {
	color: $colour-primary;
}
