@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	box-sizing: border-box;
	font-family: 'Raleway';
	background: $colour-tertiary;
	max-width: 1300px;
	margin: auto;
}

.header {
	background: $colour-primary;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;

	&__logo {
		height: 50px;
	}
}

.location {
	background: $colour-secondary;
	display: flex;
	justify-content: center;

	&__icon {
		margin: 15px 10px;
	}
}

.exploration {
	background: $colour-primary;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__button {
		background: $colour-secondary;
		max-width: 400px;
		height: 20px;
		margin-bottom: 20px
	}
}
